.container {
    padding-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 10px;
    text-align: center;

}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto 0;
}

input {
    padding: 15px 30px;
    background-color: #eee;
    border-radius: 6px;
    outline: none;
    border: none;
    width: 400px;
    max-width: 60%;
}


