a {
    text-decoration: none;
    color: #000;
}

.item {
    margin: 10px;
}

.item img {
    width: 150px;
    height: 225px;
    object-fit: cover;
    border-radius: 6px;
}

.item .name {
    text-align: center;
    width: 150px;
    text-overflow: ellipsis;
    margin-top: 5px;
}