.slider{
    padding-top: 120px;
    padding-bottom: 120px;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: #202020;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 12px;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.item {
    margin: 5px;
}

.slider img {
    width: 200px;
    height: 300px;
    margin: 5px;
}

.name {
    text-align: center;
    color: #f6f6f6;
    width: 200px;
    text-overflow:ellipsis;
}