.container {
    padding: 120px 30px 30px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.item img{
    height: 400px;
}
@media (max-width: 1060px) {
    .item img{
        height: 300px;
    }
}
@media (max-width: 840px) {
    .item img{
        height: 250px;
    }
}
@media (max-width: 768px) {
    .item img{
        height: 200px;
    }
}
@media (max-width: 485px) {
    .item img{
        height: 150px;
    }
}
.item .name{
    text-align: center;
}
