
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.splide {
    background-color: #202020;
    padding: 50px;
    border-radius: 12px;
}
@media (max-width: 768px) {
    .splide{
        padding: 20px;
    }
}
.item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.item img {
    width: 200px;
    height: 250px;
}

.item .name {
    text-align: center;
    color: #f6f6f6;
    font-size: 14px;
}

@media (max-width: 768px) {
    .item img {
        width: 90%;
        height: 200px;
    }
    .item .name {
        font-size: 10px;
    }
}