.navigation ul li {
    display: inline-block;
    margin: 0.5rem 1rem;
}

.navigation ul li a {
    text-decoration: none;
}

.navigation ul li a:hover {
    border-bottom: 3px solid #0b56c7;
}

@media (max-width:800px) {
    .navigation {
        display: none;
    }
}